body, html{
	padding: 0;
	margin: 0;
}

#header{
    color: rgb(255, 250, 250);
    position: absolute;
    top: 30%;
    left: 51%;
    font-size: 5vw;
    transform: translate(-50%, -50%);
    font-family: Hi-tech;
    z-index: 2;
}

#underheader{
    color: rgb(255, 250, 250);
    position: absolute;
    font-size: 2vw;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-family: Hi-tech;
    z-index: 2;
}

#myBtn {
	text-align: center;
	opacity: 0.5;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 150%;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    height: 50px;
    width: 100px;
}

#myBtn:hover {
  background-color: #555;
}

#about{
	position: absolute;
	margin-top: 150%;
	color: rgb(255, 250, 250);
}

#hreftotrip{
	animation-duration: 3s;
	animation-delay: 2s;
	color: rgb(255, 250, 250);
	font-size: 5vw;	
	transform: translate(-50%, -50%);
	left: 30%;
	top: 80%;
	position: absolute;
	z-index: 2;
}

#particles-js{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.text{
	z-index: 2;
}

.Hi-Tech{
	font-family: Hi-tech;
}

.about{
	font-size: 15vw;
	margin-top: 20%;
	margin-left: 15%;	
}

.me{
	margin-top: -30%;
	margin-left: 5%;
	font-size: 30vw;
}

@font-face{
	font-family: 'Hi-tech';
	src: url('Assets/Fonts/Logo-font/commando.ttf');
	font-weight: normal;
	font-style: normal;
}

.zoomIn {
	  -webkit-animation-name: zoomIn;
	  animation-name: zoomIn;
	  -webkit-animation-duration: 3s;
	  animation-duration: 3s;
	  -webkit-animation-fill-mode: both;
	  animation-fill-mode: both;
}
@-webkit-keyframes zoomIn {
	  0% {
		  opacity: 0;
		  -webkit-transform: scale3d(.3, .3, .3);
		  transform: scale3d(.3, .3, .3);
	  }
	  50% {
	  	opacity: 1;
	  }
}
@keyframes zoomIn {
	  0% {
		  opacity: 0;
		  -webkit-transform: scale3d(.3, .3, .3);
		  transform: scale3d(.3, .3, .3);
	  }
	  50% {
	  	opacity: 1;
	  }
}  
.underzoomIn {
	  -webkit-animation-name: zoomIn;
	  animation-name: zoomIn;
	  -webkit-animation-duration: 4s;
	  animation-duration: 4s;
	  -webkit-animation-fill-mode: both;
	  animation-fill-mode: both;
}
@-webkit-keyframes zoomIn {
	  0% {
		  opacity: 0;
		  -webkit-transform: scale3d(.3, .3, .3);
		  transform: scale3d(.3, .3, .3);
	  }
	  50% {
	  	opacity: 1;
	  }
}
@keyframes zoomIn {
	  0% {
		  opacity: 0;
		  -webkit-transform: scale3d(.3, .3, .3);
		  transform: scale3d(.3, .3, .3);
	  }
	  50% {
	  	opacity: 1;
	  }
}